body {
    background-color: #1d2124;
    color: white;
}

.movie-select {
    overflow-y: scroll;
    height: 1000px;
}

.poster {
    margin-bottom: 30px;
    background-color: #494952;
    cursor: pointer;
}

.main-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-wrap {
    background-color: #181819;
}